[submodule "submodule/core.sdk.python.blcks"]
	path = submodule/core.sdk.python.blcks
	url = https://github.com/pnetwork/core.sdk.python.blcks.git
	branch = master
[submodule "submodule/core.vscode.extension.mflow"]
	path = submodule/core.vscode.extension.mflow
	url = https://github.com/pnetwork/core.vscode.extension.mflow.git
	branch = master
[submodule "submodule/core.tool.python.mflow"]
	path = submodule/core.tool.python.mflow
	url = https://github.com/pnetwork/core.tool.python.mflow.git
	branch = master
